@import url(../../index.css);
/*NavBar*/
.container-navbar{
    background-color: var(--white);
    display: flex;
    justify-content: center;
    width: 100%;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin: 10px 0;
}

.navbar__logo {
    display: flex;
    align-items: center; 
}

.navbar__logo img {
    height: 40px;
    margin-right: 20px;
}
.navbar__nav {
    display: flex;
    align-items: center;
}

.navbar__nav>*{
    margin-left: 40px;
}
.nav__list{
    display: flex;
    list-style: none;
}

.nav__link {
    margin-left: 40px;
    font-size: 1.1rem;
    font-weight: 500;
}

.nav__link a {
    color: var(--dark-purple);
    position: relative;
}

.nav__link a::after {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--dark-purple);
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
}

.nav__link:hover a::after {
    opacity: 1;
}

.navbar__toggle-btn {
    display: none;
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
  
  .navbar__mobile-menu {
    display: none;
  }
  /*NavBar*/

  /*Footer*/
   .footer{
    padding-top: 50px;
     height: 10vh;
     width: 100%;
     display: flex;
     flex-direction: column;
     align-items: center;
     padding: auto;
     gap: 20;
   }
   .footer-title{
     font-size: 1.5rem;
     font-weight: 900;
   }
   .footer-nav{
    display: flex;
    flex-direction: column;
    align-items: center;

   }
   .social-nav{
    padding-top: 25px;
     display: flex;
     flex-direction: row;
     align-items: center;
     gap: 15px;
   }
 
  /*Footer*/

  /* Splash */
.image-section-auth{
  height: 100vh;
  width: 60%;
  background-image: linear-gradient(to top,  rgba(24, 26, 29, 0.404)0%,rgba(50, 24, 92, 0.404)100%), url(../../assets/ppl-holding-puzzle-four.jpg);
  background-size: cover;
  background-repeat: no-repeat;
 
  background-position: center;
}

/* Splash */

/* Top Banner */
.top-banner {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--orange);
  height: 5vh;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
}

.top-banner .a {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.top-banner .a img{
  width: 5%;
  height: auto;
}



.top-banner a:hover {
  color: #fff9e0;
}
/* Top Banner */
  



@media only screen and (max-width: 895px){
    /*NavBar*/
    .nav__list {
        display: none;
      }
    
      .navbar__nav > * {
        margin-left: 20px;
      }
    
      .navbar__toggle-btn {
        margin: 0;
        display: block;
      }
    
      .navbar__toggle-btn img {
        height: 28px;
        margin: 0 10px;
      }
    
      .navbar__mobile-menu{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 130px;
        right: 0;
        background-color: var(--white);
        width: 100%;
        box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.1);
        z-index: 1;
      }
    
      .nav__link-mobile {
        margin-left: 40px;
        font-size: 1.1rem;
        font-weight: 500;
      }
    
      .nav__link-mobile a::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--dark-purple);
        opacity: 0;
        transition: opacity 0.3s ease-in-out;
      }
    
      .nav__link-mobile:hover a::after {
        opacity: 1;
      }
    
      .navbar__mobile-menu .nav__list-mobile {
        list-style: none;
        padding: 20px;
        margin-bottom: 15px;
      }
    
      .nav__link-mobile a {
        color: var(--dark-purple);
        position: relative;
      }

      .dropDownProfile{
        position: absolute;
        top: 4.5rem;
        right: 0.2rem;
        width: 120px;
        padding: 15px;
        border-radius: 8px;
        background-color: white;
        border: 1px solid gray;
        z-index: 1;
      }

      .dropDownProfile::before{
        content: '';
        position: absolute;
        top: -0.9rem;
        right: 0.7rem;
        width: 25px;
        height: 25px;
        transform: rotate(45deg);
        background-color: white;
        border-left: 1px solid gray;
        border-top: 1px solid gray;
      }
      /*NavBar*/

      
}

@media only screen and (max-width: 510px) {
  /*NavBar*/
    .search__icon img {
      display: none;
    }
  
    .button-saber-mas {
      margin: 0;
    }
    /*NavBar*/

    /* Splash */
    .image-section-auth{
      display: none;
     
  }
    /* Splash */

    /* Top Banner */
    .top-banner .a img{
      width: 15%;
      height: auto;
    }
    /* Top Banner */


  }